<!-- text-layout es una clase personalizada que hemos creado en el styles.css -->
<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<!-- En primeFlex se divide la pantalla de la siguiente forma. Básicamente con p-grid dividimos como en una linea y después le ponemos las columnas que
     necesitamos. La fila se divide en 12 posiciones, por lo que si ponemos una columna de tamaño 4 será como un tercio de la pantalla -->
<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower | uppercase">
            {{ nombreLower | uppercase }}    
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="lowercase"
                [subheader]="nombreLower | lowercase">
            {{ nombreLower | lowercase }} 
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="titlecase"
                [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto | titlecase }} 
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas
    </p>
</div>

<div class="p-grid">
    <div class="p-col-6">
        <p-card >
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:'aaaa/MM/dd EEEE HH:mm:ss'</li>
            </ul>

            <hr>

            <ul>
                <li>fecha | date:'long':'GMT-6':'es-419'</li>
                <li>fecha | date:'long':'GMT+2'</li>
                <li>fecha | date:'long':'':'fr'</li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card >
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'dd-MM-YYYY EEEE HH:mm:ss' }}</li>
            </ul>

            <hr>
            
            <!-- En los siguientes estamos trabajando con fechas y cambiandole el Timezone y el idioma -->
            <ul>
                <li>{{ fecha | date:'long':'GMT-6':'es-419' }}</li>
                <li>{{ fecha | date:'long':'GMT+2' }}</li>
                <li>{{ fecha | date:'long':'':'fr' }}</li>
            </ul>
        </p-card>
    </div>
</div>