<!-- text-layout es el método que hemos creado para el color del texto en el styles.css -->
<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
  
</div> -->

<!-- pButton es un comando propio de PrimeNG. Para poder usarlo hemos tenido que importar el módulo ButtonModule en el módulo corrrespondiente -->
<!-- label también pertenece a primeNG -->
<!-- <button pButton (click)="mostrarDatos()" 
                label="Muestra Datos" 
                icon="pi pi-check" 
                iconPos="right" 
                class="p-button-help">
</button> -->

<!-- pCad es un comando propio de PrimeNG. En el caso del header va entre [] porque le vamos a pasar una variable de typeScript. Si le pasaramos un
     texto se pondría sin [] como está el subheader -->
<!-- <p-card [header]="nombre | titlecase"
        subheader="esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card>
 -->


 <app-menu></app-menu>
 <router-outlet></router-outlet>
